.about-heading {
  @media (min-width: 992px) {
    .about-heading-img {
      position: relative;
      z-index: 0;
    }
    .about-heading-content {
      margin-top: -5rem;
      position: relative;
      z-index: 1;
    }
  }
}

.opinion {
  &-name {
    text-align: end;
  }
  &-star{
    display: block;
    text-align: end;
    color: goldenrod;
  }
}