<main>
        <section class="page-section clearfix">
                <div class="container">
                  <div class="intro">
                    <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="img/El Canalla Gastrotaberna (@elcanallagastrotaberna) • Fotos y videos de Instagram_files/50790058_250854845841267_4714237392638506340_n(1).jpg" alt="">
                    <div class="intro-text left-0 text-center bg-faded p-5 rounded">
                      <h2 class="section-heading mb-4">
                        <span class="section-heading-upper">Los Canallas</span>
                        <span class="section-heading-lower">Sobre Nosotros</span>
                      </h2>
                      <p class="mb-3">En pleno centro de Madrid, en el corazón de La Latina, nuestra Gastrotaberna es un espacio Canalla y divertido donde cocinamos y disfrutamos de una carta descarada y llena de sabor e influencias, ¿Te atreves a venir?
                      </p>
                      <div class="intro-button mx-auto">
                        <a class="btn btn-primary btn-xl" href="#">Visítanos!</a>
                      </div>
                    </div>
                  </div>
                </div>
              </section>
            
              <section class="page-section cta">
                <div class="container">
                  <div class="row">
                    <div class="col-xl-9 mx-auto">
                      <div class="cta-inner text-center rounded">
                        <h2 class="section-heading mb-4">
                          <span class="section-heading-upper">Advertencia</span>
                          <span class="section-heading-lower">A los Canallas</span>
                        </h2>
                        <p class="mb-0">Creamos este espacio porque no podíamos trabajar para nadie, porque nos gusta hacer lo que nos da la gana y cambiar la carta cuando queramos, porque creemos que se puede comer bien sin tener un mantel blanco y porque nos encanta la comida tradicional pero en Madrid lo castizo y lo internacional se dan la mano, y eso nos define y nos encanta.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </section>
</main>